<div class="ContenRegistro">
    <form class="form">
        <p class="title">Registro </p>
        <p class="message">Bienvenido al registro para ser parte de la comunidad </p>
        <div class="flex">
        </div>
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Nombres</span>
        </label>
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Apellidos</span>
        </label>
        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Email</span>
        </label>
        <button class="submit">Enviar</button>
    </form>
</div>
<router-outlet/>
